trekk/kontaktoverføring/kontakter.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="kontakter">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="kontakt" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="personid"/>
              <xs:element type="xs:string" name="ansattid"/>
              <xs:element type="xs:boolean" name="belopstrekk"/>
              <xs:element type="xs:boolean" name="prosenttrekk"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
