trekk/fil2/fil2.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="utbetalinger">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="utbetaling" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="ansattid"/>
              <xs:element type="xs:decimal" name="utbetaltbelop"/>
              <xs:element type="xs:string" name="forsystemref"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
